$extrasmall-phone: 350px;
$small-phone: 480px;
$large-phone: 640px;
$small-tablet: 800px;
$large-tablet: 960px;
$small-laptop: 1120px;
$medium-laptop: 1280px;
$large-laptop: 1440px;
$small-desktop: 1000px;
$medium-desktop: 1760px;
$large-desktop: 1920px;
